.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 32px;

  img {
    border: 2px solid var(--text-color);
    border-radius: 50%;
    height: 128px;
    width: 128px;
  }

  div {
    margin-bottom: 20px;
  }
}

.contacts {
  ul {
    li {
      align-items: center;
      display: flex;
      font: var(--font-12);
      gap: 20px;

      img {
        border-radius: 4px;
        background-color: var(--text-color);
        padding: 5px;
        height: 30px;
        width: 30px;
      }
    }
  }
}

.technologies {
  h2 {
    font: var(--h2);
  }

  ul {
    text-align: center;

    li {
      border-radius: 30px;
      background-color: var(--bg-techs);
      color: var(--body-bg-color);
      font: var(--h4);
      text-transform: uppercase;
      padding: 6px;
    }
  }
}
