aside {
  margin-bottom: 20px;

  div {
    display: grid;
    gap: 20px;

    h2 {
      font: var(--h2);
    }
  }
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;

  img {
    border: 2px solid var(--text-color);
    border-radius: 50%;
    height: 128px;
    width: 128px;
  }

  div {
    margin-bottom: 20px;
  }
}

.contacts {
  ul {
    li {
      align-items: center;
      display: flex;
      font: var(--font-12);
      gap: 20px;

      img {
        border-radius: 4px;
        background-color: var(--text-color);
        padding: 5px;
        height: 30px;
        width: 30px;
      }
    }
  }
}

.technologies {
  h2 {
    font: var(--h2);
  }

  ul {
    text-align: center;

    li {
      background-color: var(--bg-techs);
      border-radius: 30px;
      color: var(--body-bg-color);
      font: var(--h4);
      padding: 6px;
      text-transform: uppercase;
    }
  }
}

.experiences {
  ul {
    list-style: disc;
    margin-left: 20px;

    li {
      font: var(--font-14-bold);
      span {
        display: block;
        font: var(--font-12-light);
      }

      span:last-child {
        font: var(--font-12);
      }
    }
  }
}

.training {
  ul {
    list-style: disc;
    margin-left: 20px;

    li {
      font: var(--font-14-bold);
      span {
        display: block;
        font: var(--font-12-light);
      }

      span:last-child {
        font: var(--font-12);
      }
    }
  }
}
