main {
  display: flex;
  flex-direction: column;
  gap: 32px;

  section {
    display: grid;
    gap: 20px;

    header {
      align-items: center;
      display: flex;
      justify-content: space-between;

      a:hover {
        color: var(--bg-techs);
      }
    }
  }

  .projects {
    .cards {
      display: flex;
      gap: 30px;

      .card {
        cursor: pointer;
        display: grid;
        gap: 20px;

        .title {
          align-items: center;
          display: flex;
          gap: 16px;

          img {
            background-color: var(--text-color);
            border-radius: 4px;
            padding: 4px;
            height: 30px;
            width: 30px;
          }

          h4 {
            color: var(--bg-techs);
            font: var(--font-16-bold);
          }
        }

        .description {
          font: var(--font-14);
        }

        .information {
          align-items: center;
          display: flex;
          justify-content: space-between;

          .status {
            display: flex;
            gap: 16px;

            div {
              align-items: center;
              display: flex;
              gap: 8px;

              img {
                background-color: var(--bg-techs);
                border-radius: 4px;
                padding: 4px;
                height: 25px;
                width: 25px;
              }

              span {
                font: var(--font-14);
              }
            }
          }

          .tech {
            align-items: center;
            display: flex;
            gap: 8px;

            span {
              font: var(--font-14);
            }

            span:first-child {
              background-color: #E7DE79;
              border: 2px solid var(--text-color);
              border-radius: 50%;
              height: 16px;
              width: 16px;
            }
          }
        }
      }
    }
  }

  .posts {
    .cards {
      .card {
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: 20px;
        padding: 30px;

        .profile {
          img {
            border: 2px solid var(--text-color);
            border-radius: 50%;
            height: 128px;
            width: 128px;
          }
        }

        .content {
          display: grid;
          gap: 28px;

          .title {
            display: grid;
            gap: 12px;
            
            h3 {
              font: var(--h3);
            }

            span {
              color: var(--bg-techs);
              font: var(--font-14);
            }
          }

          .description {
            display: grid;
            gap: 12px;

            p {
              font: var(--font-16);
            }

            .hashtags {
              display: flex;
              gap: 24px;
              font: var(--font-14);

              li {
                color: var(--bg-techs);
              }
            }
          }
        }
      }
    }
  }
}