main {
  display: flex;
  flex-direction: column;
  gap: 32px;

  section {
    display: grid;
    gap: 20px;

    header {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}
