.grid {
  display: grid;
}

.grid-cols-flow {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: 350px 950fr;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gap-10 {
  gap: 10px;
}

.gap-16 {
  gap: 16px;
}

.gap-20 {
  gap: 20px;
}

.gap-32 {
  gap: 32px;
}

.gap-60 {
  gap: 60px;
}
